<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/dreamleague/css/mdb.dark.min.css">
  <link rel="stylesheet" href="/static/assets/dreamleague/style.css">
  <title>Dream League</title>
</head>

<body>
  <div class="header bg-dark py-3 text-white">
    <div class="container box-wrapper d-flex align-items-center">
      Política de Privacidade
      <a href="/dreamleague" class="link d-inline-block ms-auto">Voltar</a>
    </div>
  </div>
  <div class="container box-wrapper my-3">
    <div class="card small bg-dark">
      <div class="card-body">
        <p>
          Esta página de internet (a <strong>Página</strong>) é operada pela BNG com
          sede na
        </p>
        <p>
          Todas e quaisquer referências a “Linkit360”, “nós”, “nossa” nesta Política
          de Privacidade significa ou refere-se a <strong>Linkit360</strong>.
        </p>
        <p>
          Quaisquer referências a “Linkit360” significa ou refere-se a Linkit360 e a
          qualquer sociedade ou empresa na qual a ‘’Linkit360 detenha mais de 15% do
          capital social.
        </p>
        <p>
          Quando os termos “você”, “sua” e “seus” forem utilizados ao longo desta
          Política de Privacidade referir-se-ão a qualquer utilizador desta Página de
          Internet.
        </p>
        <h4 class="mb-3">
          <a name="_mswyggfv60eb"></a>
          <strong>Objectivo desta Política de Privacidade </strong>
        </h4>
        <p>
          Assumimos um compromisso com a privacidade e confidencialidade de toda e
          qualquer informação que nos seja fornecida. Esta Política de Privacidade
          visa disponibilizar informação que ajude o Cliente a compreender como é que
          a Linkit360 colecta, usa e partilha a informação pessoal do Cliente e as
          nossas prácticas de privacidade relativamente a toda a informação e dados
          pessoais por nós colectados, quer directamente, quer através da Página ou
          uso dos nossos produtos e serviços.
        </p>
        <p>
          Informação ou dados pessoais significa qualquer informação que identifique
          o Cliente e inclui informação tal como o seu nome, endereço electrónico,
          número de telefone, MSISDN, informação biométrica e palavra-passe, bem como
          qualquer outra informação pessoal que seja colectada.
        </p>
        <h4 class="mb-3">
          <a name="_3ss8d2u25kdp"></a>
          <strong>Notificação de alterações à Política de Privacidade</strong>
        </h4>
        <p>
          Estamos constantemente a melhorar os nossos métodos de comunicação e
          acrescentar novas funcionalidades e características à nossa Página e aos
          produtos existentes.
        </p>
        <p>
          Em virtude destas mudanças contínuas, de potenciais alterações à legislação
          em vigor e da natureza mutável da tecnologia, as nossas prácticas de
          protecção de dados sofrerão, igualmente, alterações de tempos em tempos.
          Quando e se as nossas prácticas de protecção de dados mudarem,
          actualizaremos a presente Política de Privacidade de forma a reflectir e
          descrever as novas prácticas. Se o fizermos, notificaremos o Cliente na sua
          próxima visita a esta página. Encorajamos o Cliente a verificar esta página
          com regularidade.
        </p>
        <h4 class="mb-3">
          <a name="_trqauhm1fla"></a>
          <strong>Colecta de informação pessoal do Cliente</strong>
        </h4>
        <p>
          Assumimos o compromisso de proceder à colecta de informação pessoal que
          seja essencial, de forma autorizada e limitada.
        </p>
        <p>
          Podemos obter a informação pessoal do Cliente quando:
        </p>
        <p>
          ● Comprar ou adquirir um produto ou serviço da Linkit360 (incluindo, a
          compra de produtos online, por via telefónica ou numa loja da Linkit360 ou
          outro estabelecimento).
        </p>
        <p>
          ● Se registar para produto ou serviço (nomeadamente, quando regista o seu
          nome e detalhes de endereço ou cria uma conta de endereço electrónico
          connosco).
        </p>
        <p>
          ● Subscrever a <em>newsletters</em>, alertas ou outros serviços nossos.
        </p>
        <p>
          ● Solicitar mais informação sobre algum produto ou serviço, ou nos contacta
          para o esclarecimento de quaisquer questões ou apresentação de quaisquer
          reclamações.
        </p>
        <p>
          ● Participar em qualquer concurso, sorteio ou pesquisa.
        </p>
        <p>
          ● Usar a nossa rede ou outros produtos ou serviços da Linkit360.
        </p>
        <p>
          ● Visitar ou aceder à nossa Página ou outras do Grupo Linkit360.
        </p>
        <p>
          Mediante a permissão ou consentimento do Cliente e/ou nos termos permitidos
          por lei, podemos igualmente colectar informação sua de outras entidades ou
          por terceiros, se tal for adequado e por lei permitido. Isto inclui
          agências de prevenção e combate à fraude, directórios de negócios, agências
          de referências de crédito e outras empresas.
        </p>
        <h4 class="mb-3">
          <a name="_n01c0xhjeexb"></a>
          <strong>
            Compreender o que o Cliente procura (uso de <em>cookies</em>)
          </strong>
        </h4>
        <p>
          Poderemos eventualmente também usar <em>cookies </em>(pequenos arquivos de
          texto armazenados no <em>browser </em>do Cliente) e outras técnicas tais
          como <em>web beacons</em> (pequenos ficheiros de imagem nítida usados para
          acompanhar os seus movimentos na nossa Página). Estes <em>beacons </em>
          colectam informação que permitem reconhecer o Cliente quando aceder à nossa
          Página novamente e informar-nos de como usa a nossa Página, e os nossos
          produtos e serviços online.
        </p>
        <p>
          Isto, por seu lado, ajuda-nos a tornar a nossa Página mais relevante e de
          encontro às necessidades e interesses do Cliente. Ajuda-nos ainda a
          encontrar informações após o seu login ou ajuda-nos a ligar a sua
          informação de navegação a si e à sua informação pessoal, por exemplo,
          quando optar registar-se ou a subscrever a um serviço. Podemos usar um<em>cookie </em>persistente (que
          permanece
          vinculado ao seu <em>browser</em>), para registar os seus dados, para que possamos
          reconhecê-lo caso visite a nossa Página novamente.
        </p>
        <p>
          Os <em>cookies </em>por si só, não podem ser usados para descobrir a sua
          identidade. Os <em>cookies </em>não danificam o computador do Cliente.
        </p>
        <p>
          O Cliente pode configurar o seu <em>browser </em>para que o notifique
          quando recebe um <em>cookie</em>. Isto permite que decida se quer aceitar
          ou não. No caso de escolher não aceitar os <em>cookies </em>da nossa
          Página, isto poderá limitar o seu desempenho e funcionalidades.
        </p>
        <h4 class="mb-3">
          <a name="_sea36u48viv2"></a>
          <strong>Dados anónimos colectados através desta Página</strong>
        </h4>
        <p>
          Para além da informação que colectamos da forma acima descrita, usamos
          tecnologia de colecta de informação anónima sobre o uso da nossa Página.
          Por exemplo, o nosso servidor de rede regista as secções da nossa Página
          visualizados pelos nossos visitantes, os respectivos endereços de IP e que
          motores de busca usam. Esta tecnologia em si não identifica o Cliente
          pessoalmente; permite-nos simplesmente a compilar estatísticas sobre os
          nossos visitantes e o uso da nossa Página.
        </p>
        <p>
          A nossa Página contém <em>hiperlinks</em> para outras páginas ligadas à
          nossa. Podemos usa tecnologia para rastrear com que frequência esses <em>links</em> são usados e que páginas
          os
          nossos visitantes escolhem
          visualizar. Aqui tamém, a tecnologia não identifica pessoalmente o Cliente
          – permite-nos apenas compilar estatísticas sobre o uso desses hiperlinks.
        </p>
        <p>
          Da mesma forma que, se o Cliente acedeu à nossa Página clicando um link ou
          anúncio numa outra página de internet, registamos também tal informação.
          Tal ajuda-nos a maximizar a nossa exposição na internet e também a perceber
          os interesses dos nossos usuários. Todas essas informações são colectadas e
          usadas somente para agregar à nossa base de dados e ser utilizada para
          gerar relatórios gerais sobre os nossos visitantes, mas não sobre a sua
          informação a nível individual/pessoal.
        </p>
        <p>
          Usamos igualmente o endereço de IP do Cliente para diagnosticar quaisquer
          problemas no nosso servidor e administrar a nossa Página. Um endereço de IP
          é um código numérico que identifica o computador do Cliente numa rede, ou
          neste, caso, na Internet. O endereço de IP do Cliente é também usado para
          recolher informação demográfica geral.
        </p>
        <p>
          Podemos também realizar pesquisas de IP a fim de determinar o seu domínio e
          avaliar com mais precisão, os detalhes demográficos dos nossos usuários.
        </p>
        <h4 class="mb-3">
          <a name="_wni97owqlzme"></a>
          <strong>Informação pessoal que colectamos</strong>
        </h4>
        <p>
          A informação que colectamos sobre o Cliente depende dos produtos e serviços <strong>Linkit360 </strong>que usa
          e
          a que subscreve. Tal inclui (mas não
          se limita) ao seguinte:
        </p>
        <p>
          ● O nome, data de nascimento, língua materna, endereço, informações de
          conta de subscritor e endereço de correio electrónico do Cliente.
        </p>
        <p>
          ● As preferências por determinados produtos, serviços ou actividades o
          Cliente nos diga claramente quais são – ou quando assumimos quais são,
          dependendo de como usa os nossos produtos e serviços.
        </p>
        <p>
          ● As comunicações do Cliente connosco – tais como quaisquer notas ou
          gravações de chamadas que tenha feito com um dos nossos centros de
          contacto, ou correio electrónico ou carta a nós enviada ou quaisquer outros
          registos de contact que tenha feito connosco.
        </p>
        <p>
          ● As informações de conta de subscritor do Cliente – tais como número de
          telefone, tipo de dispositivo, modelo de dispositivo, se é um cliente
          pré-pago ou pós-pago, datas de pagamento feitos ou recebidos, serviços por
          assinatura que usa ou qualquer outra informação relacionada.
        </p>
        <p>
          Obtemos também informação em como o Cliente usa os nossos produtos e
          serviços, tais como:
        </p>
        <p>
          ● Os números de telefone para os quais faz chamadas ou envia mensagens (ou
          os números dos quais que recebe chamadas e mensagens) – conteúdo excluído.
        </p>
        <p>
          ● A data, tempo e duração das chamadas e mensagens que recebe através da
          nossa rede e a sua localização aproximada, no horário em que estas
          comunicações forem feitas – conteúdo excluído.
        </p>
        <p>
          ● Os níveis de serviço que recebe – por exemplo, falhas de rede e outras
          anomalias na rede que possam afectar os nossos serviços de rede.
        </p>
        <p>
          ● As suas informações de navegação de internet (que incluem informação
          sobre as páginas que visita), como usa a nossa Página ou outra(s) página(s)
          do Grupo Linkit360 no seu telemóvel ou computador.
        </p>
        <p>
          ● A data, hora e duração da sua navegação de internet e a sua localização
          aproximada, no horário em que estas comunicações forem feitas – conteúdo
          excluído.
        </p>
        <h4 class="mb-3">
          <a name="_zgm6byhjpklk"></a>
          <strong>Uso e análise da informação pessoal do Cliente</strong>
        </h4>
        <p>
          Podemos vir a usar e analisar a informação do Cliente para:
        </p>
        <p>
          ● Processar bens e serviços que tenha adquirido connosco e mante-lo
          actualizado sobre o progresso da sua encomenda.
        </p>
        <p>
          ● Mante-lo informado sobre novos produtos e serviços em geral (a não ser
          que opte por não receber as nossas mensagens de marketing).
        </p>
        <p>
          ● Prestar-lhe os serviços e produtos relevantes. Isto inclui outros
          serviços que não estejam incluídos no seu contrato connosco, e serviços que
          usem informação sobre onde está quando utilizar o seu equipamento móvel
          (localização) e para o contactar por via de mensagens sobre quaisquer
          alterações sobre o serviço ou produto.
        </p>
        <p>
          ● Contacta-lo com ofertas ou promoções com base em como usa os nossos
          produtos e serviços. Isto inclui a sua actividade em termos de chamadas e
          envio de mensagens, localização e informação de navegação (a não ser que
          opte por não receber tais mensagens).
        </p>
        <p>
          ● Cobra-lo pelo uso dos nossos produtos e serviços, ou retirar-lhe o
          montante do crédito correcto.
        </p>
        <p>
          ● Gerir esta Página e ajudar-nos a melhorar os nossos serviços.
        </p>
        <p>
          ● Esclarecer quaisquer questões ou preocupações que possa ter sobre o uso
          da nossa rede, produtos ou serviços.
        </p>
        <p>
          ● Informa-lo sobre produtos e serviços de outras empresas que acharmos que
          lhe possam interessar (incluindo ofertas e descontos que tenhamos negociado
          especificamente para os nossos clientes).
        </p>
        <p>
          ● Proteger a nossa rede e gerir o volume de chamadas, mensagens de texto ou
          qualquer outro uso da nossa rede.
        </p>
        <p>
          Por exemplo, identificar o período de pico no uso para que tentemos
          assegurar que a rede suporte tal volume de tráfego nessas alturas.
        </p>
        <p>
          ● Compreender como usa a nossa rede, produtos e serviços. Dessa forma,
          podemos desenvolver produtos e serviços que sejam mais interessantes e
          relevantes, bem como personalizar os produtos e serviços que lhe
          oferecemos.
        </p>
        <p>
          ● Levar a cabo pesquisas e análises estatísticas inclusive para monitorar
          como os clientes usam a nossa rede, produtos e serviços de forma anónima ou
          pessoal.
        </p>
        <p>
          ● Prevenir e detectar fraudes e outros crimes, recuperar valores em dívida
          ou rastear indivíduos que estejam em dívida para connosco.
        </p>
        <p>
          ● Produzir relatórios agregados a terceiros (tais relatórios não contém
          nenhuma informação que possa identificá-lo a nível individual).
        </p>
        <p>
          As informações que usamos incluirão a localização aproximada do Cliente,
          com base na antena de telecomunicações móveis mais próxima. Como resultado,
          essa informação mudará consoante a movimentação do dispositivo móvel do
          Cliente.
        </p>
        <p>
          Utilizamos tecnologia que nos permite identificar o número de telefone
          (MSISDN) do Cliente se estiver a aceder a certas páginas da internet ou
          aplicações. Esta capacidade de “pesquisa de MSISDN” será usada apenas por
          nós e os nossos parceiros e o que se pretende é facilitar-lhe o uso dos
          nossos serviços.
        </p>
        <p>
          Nós armazenaremos a informação do Cliente por quanto tempo nos for exigível
          por lei. Caso não haja nenhuma obrigação legal de manter a informação do
          Cliente, armazená-la-emos por quanto tempo for necessário.
        </p>
        <h4 class="mb-3">
          <a name="_s4iigbqg9fe3"></a>
          <strong>Partilha da informação pessoal do Cliente</strong>
        </h4>
        <p>
          Poderemos vir a partilhar a sua informação com:
        </p>
        <p>
          ● Empresas do Grupo Linkit360 (Vodafone Group Plc e qualquer outra empresa
          em que a Vodafone Group Plc detenha mais do que 15% do capital social).
        </p>
        <p>
          ● Parceiros ou agentes envolvidos na prestação de serviços que tenha
          solicitado ou usado.
        </p>
        <p>
          ● Parceiros ou agentes que conduzam pesquisas sobre o desempenho da rede e
          satisfação dos clientes em produtos e serviços a si prestados.
        </p>
        <p>
          ● Empresas que estejam comprometidas na prestação de serviços em nome da
          Linkit360 (Pty) Ltd., incluindo a Vodafone Limited ou outras empresas do
          Grupo Vodafone.
        </p>
        <p>
          ● Onde aplicável, agências de referência de crédito, agências de prevenção
          de fraudes ou de avaliação de negócios ou outras agências de avaliação de
          crédito.
        </p>
        <p>
          ● Empresas de cobrança de dívidas ou outras empresas de recuperação de
          dívidas.
        </p>
        <p>
          ● Autoridades de lei e ordem, entidades reguladoras, tribunais ou outras
          autoridades públicas, se for por lei necessário ou permitido.
        </p>
        <p>
          ● Serviços de emergência (caso faça uma chamada de emergência), incluindo a
          sua localização aproximada.
        </p>
        <p>
          ● Divulgaremos informação dentro dos limites do que for razoável para a
          protecção contra fraudes, defender os direitos ou propriedade da Linkit360
          ou para proteger os interesses dos nossos clientes.
        </p>
        <p>
          ● Caso a Linkit360 seja alvo de reorganização ou seja adquirida por uma
          outra empresa ou grupo, podemos vir a transferir qualquer informação
          pessoal sua que tenhamos para tal empresa ou grupo.
        </p>
        <p>
          Por opção do Cliente e somente com o seu consentimento, podemos vir a
          partilhar a sua informação com empresas parceiras que tenhamos selecionado,
          para que estas o possam contactar sobre os seus produtos e serviços.
        </p>
        <p>
          Podemos vir a partilhar, transferir ou divulgar informação que esteja nas
          nossas bases de dados ou <em>logs </em>do servidor de forma a cumprir com
          algum requisito legal em vigor, aplicar ordens/instruções de justiça,
          interagir com bases de dados antifraude, proteger os interesses vitais do
          Cliente, proteger a segurança ou integridade das nossas bases de dados ou
          esta Página, tomar precauções contra qualquer responsabilidade legal, ou no
          caso de flutuação na Bolsa de Valores, venda, fusão, reorganização,
          dissolução, alienação de todo ou parte dos nossos activos ou evento
          similar. Informá-lo-emos de qualquer transferência ou divulgação que for
          por lei exigível.
        </p>
        <p>
          Quando apropriado, antes de divulgar quaisquer informações pessoas a
          terceiros, exigimos contratualmente que este terceiro tome as precauções
          adequadas para proteger esses dados e cumprir com a lei aplicável.
        </p>
        <p>
          No caso de uma fusão/aquisição ou reorganização da empresa, a informação
          pessoal do Cliente poderá fazer parte dos activos a ser transferidos e
          serão provavelmente divulgados à nova empresa.
        </p>
        <h4 class="mb-3">
          <a name="_c3a3zbwd739z"></a>
          <strong>Transferência de informação para o exterior</strong>
        </h4>
        <p>
          Se o Cliente estiver a usar esta Página a partir de um outro país que não
          seja Moçambique, as várias comunicações resultarão necessariamente na
          transferência de informação através de fronteiras internacionais.
        </p>
        <p>
          O Cliente ao visitar esta Página e comunicar electronicamente connosco,
          dá-nos o seu consentimento para o processamento e transferência da sua
          informação pessoal conforme previsto nesta Política de Privacidade.
        </p>
        <p>
          Podemos igualmente transferir a sua informação para outra Vodafone ou
          empresas do Grupo Linkit360 bem como prestadores de serviços sediados fora
          de Moçambique, caso em que cumpriremos com a legislação referente à
          protecção de dados aplicáveis. Isto pode acontecer se tivermos os nossos
          servidores ou fornecedores e prestadores de serviços baseados fora de
          Moçambique ou se nos serviços estejam alojados em sistemas ou servidores de
          empresas operacionais fora de Moçambique, incluindo o Espaço Económico
          Europeu (EEE) ou a Índia e/ou se utilizar os nossos serviços e produtos
          enquanto visita outros países. Considera-se que países da EEA têm leis de
          protecção de dados adequados. Países fora da EEA poderão não ter leis de
          protecção de dados que sejam similares às em vigor em Moçambique, no
          entanto, certificar-nos-emos que a sua informação está protegida e que
          celebrámos os acordos apropriados para o assegurar.
        </p>
        <h4 class="mb-3">
          <a name="_nfrype2onwoc"></a>
          <strong>Manter a informação pessoal do Cliente segura</strong>
        </h4>
        <p>
          Assumimos o compromisso de implementar medidas de segurança de dados de
          alto padrão e inovadoras.
        </p>
        <p>
          Temos equipas de segurança especializadas que revêm e aperfeiçoam, de forma
          constante, as nossas medidas de protecção da sua informação pessoal contra
          acessos não autorizados, perdas acidentais, divulgação ou destruição.
        </p>
        <p>
          No caso de termos contacto com qualquer outra organização para a prestação
          de serviços ou para prestação de um serviço em nosso nome para processar
          informação pessoal do Cliente, garantiremos que a sua informação está
          protegida e que apenas processam informação da maneira por nós autorizada.
          Estas organizações <u>não terão </u>o direito de usar a sua informação
          pessoal para fins próprios. Se necessário, as nossas equipas de segurança
          certificar-se-ão de que estas cumprem com os requisitos de segurança por
          nós estipulados.
        </p>
        <p>
          As comunicações pela Internet (como por exemplo, e-mails), não são seguras
          a menos que tenham sido encriptadas. As comunicações do Cliente podem
          passar por vários países antes de serem entregues – já que esta é a
          natureza da Internet. Não seremos responsáveis por qualquer acesso não
          autorizado ou perda de informação pessoal que esteja para além do nosso
          controlo.
        </p>
        <p>
          Nunca solicitaremos as informações pessoais ou de segurança de acesso do
          Cliente por meio de comunicação não solicitada. O Cliente é responsável por
          manter a sua informação pessoal ou de segurança de acesso e não a partilhar
          com terceiros.
        </p>
        <p>
          O Cliente pode escolher divulgar informação de determinadas maneiras,
          nomeadamente, <em>plug-ins </em>socias (incluindo os oferecidos pelo
          Google, Facebook, Twitter e Pinterest), ou usando serviços de terceiros que
          lhe permitem postar avaliações ou outras informações de forma pública,
          sendo que, qualquer terceiro pode usar essas informações.
        </p>
        <p>
          <em>Plug-ins </em>
          sociais são operados pelas próprias redes sociais e estão sujeitos aos seus
          próprios termos e condições de uso e privacidade bem como políticas de <em>cookies</em>. O Cliente deve
          certificar-se que está familiarizado com
          estes termos e condições.
        </p>
        <h4 class="mb-3">
          <a name="_7h4ojnm97ptq"></a>
          <strong>
            Como cancelar a subscrição ou ser excluído (“<em>Opt Out”</em>)
          </strong>
        </h4>
        <p>
          Caso o Cliente não queira continuar a receber mensagens de marketing
          nossas, poderá entrar em contacto com a nossa equipa de atendimento ao
          cliente e será “excluído”. (O Cliente poderá entrar em contacto com os
          nossos serviços de atendimento ao cliente através da página Contacte-nos no
          nosso site).
        </p>
        <p>
          Se o Cliente optar por cancelar a subscrição ou ser excluído, manteremos os
          seus detalhes de contacto no nosso registo para que não entremos novamente
          em contacto. Esta medida é para garantir que não entramos em contacto com o
          Cliente caso os seus detalhes sejam fornecidos por terceiros.
        </p>
        <h4 class="mb-3">
          <a name="_lz0bfdargnnz"></a>
          <strong>Acesso e correcções à informação pessoal</strong>
        </h4>
        <p>
          Nos termos previstos na lei, o Cliente tem o direito de aceder, corrigir,
          alterar, apagar a sua informação pessoal ou recusar que esta seja
          processada.
        </p>
        <p>
          Após o recebimento do pedido do Cliente por escrito, e informação
          suficiente que nos permita identificar a sua informação pessoal,
          divulgaremos ao Cliente, toda a informação que mantemos sobre o mesmo,
          pelas quais poderemos cobrar, nos termos permitidos pela lei aplicável.
        </p>
        <p>
          Também corrigiremos, alteraremos ou excluiremos qualquer informação pessoal
          que o Cliente nos informe como sendo incorrecta e notificaremos quaisquer
          terceiros destinatários sobre tais alterações. O Cliente poderá actualizar
          qualquer informação que nos tenha dado entrando em contacto connosco no
          nosso endereço registado.
        </p>
        <p>
          Os pedidos para excluir informação pessoal estão sujeitos a todos os
          requisitos legais e éticos aplicáveis e/ou obrigações de retenção de
          documentos a nós imposta.
        </p>
        <h4 class="mb-3">
          <a name="_t4867dv2uy7d"></a>
          <strong>
            Acesso não autorizado de terceiros à informação pessoal do Cliente
          </strong>
        </h4>
        <p>
          Não obstante as medidas de segurança que temos implementadas para proteger
          a informação pessoal do Cliente (<em>firewalls</em>, acesso por senha e
          métodos de encriptação), o Cliente reconhece que esta pode ser acedida por
          terceiros não autorizados, como resultado de actividade ilegal.
        </p>
        <p>
          No caso improvável de tal acesso ocorrer, nós notificaremos o Cliente, por
          via de e-mail (usando o endereço electrónico que o Cliente nos tenha
          fornecido), logo que possível.
        </p>
        <h4 class="mb-3">
          <a name="_rhnn7jvyvwz5"></a>
          <strong>Links para outras páginas</strong>
        </h4>
        <p>
          A nossa Página poder conter hiperlinks para sites que não são operadas por
          nós. Estes hiperlinks são fornecidos apenas para referência e conveniência
          do Cliente e não consubstanciam qualquer endosso das actividades desses
          sites ou qualquer associação com os seus operadores por parte da Linkit360.
          Não controlamos tais páginas e não somos responsáveis pelos dados ou
          procedimentos de privacidade. Incentivamos o Cliente a rever a política de
          privacidade que seja publicada em qualquer página que visite antes de
          aceder ao mesmo ou fornecer qualquer informação pessoal sua ou de outras
          pessoas.
        </p>
        <h4 class="mb-3">
          <a name="_95rvhwtwr0tz"></a>
          <strong>Lei aplicável</strong>
        </h4>
        <p>
          As leis em vigor em Moçambique regerão quaisquer disputas ou acções que
          resultem ou se relacionem ao uso desta Página por parte do Cliente.
        </p>
        <h4 class="mb-3">
          <a name="_ki7a3esfz83m"></a>
          <strong>Feedback</strong>
        </h4>
        <p>
          Agradecemos os comentários relativos a esta Política de Privacidade. Se tiver quaisquer perguntas sobre esta
          Política de Privacidade ou qualquer componente do nosso serviço, poderá contactar-nos enviando um e-mail para
          customer.service@linkit360.com ou escrevendo-nos para o endereço indicado no parágrafo 1 da presente Política
          de Privacidade. Guardaremos toda a correspondência do cliente nos nossos escritórios.
        </p>
        <h4 class="mb-3">
          <a name="_3jw72q2gkge7"></a>
          <strong>Reclamações</strong>
        </h4>
        <p>
          Caso o Cliente acredite ou tenha uma indicação de que a Linkit360 utilizou as suas informações pessoais de
          forma contrária aos objectivos estabelecidos na lei aplicável, o Cliente compromete-se a tentar primeiro
          esclarecer qualquer questão a fim de resolver o problema com a Linkit360. Caso o Cliente não fique satisfeito
          com tal processo, o Cliente tem o direito de apresentar uma reclamação através deste endereço de correio
          electrónico customer.service@linkit360.com
        </p>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/assets/dreamleague/js/mdb.min.js"></script>

</html>