<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/fb-alert/css/mdb.dark.min.css">
    <link rel="stylesheet" href="/static/fb-alert/style.css">
    <title>Fb Alert</title>
</head>

<body>
    <div class="mx-auto box-wrapper">
        <img src="/static/fb-alert/img/guess-score.jpg" class="img-fluid" alt="FbAlert">
    </div>
    <div class="container-fluid box-wrapper text-center pb-3 mt-3">
        <div class="content-box">
            <h5 class="mb-3 text-uppercase title px-2">
                Create your guess, join competition and get exclusive rewards : #101#36#
            </h5>
            <div id="subform">
                <a href="tel:%23101%2336%23" class="btn btn-warning button btn-lg w-75">PLAY</a>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <p class="info mb-2">Service cost: For Fb Alert users - 100F / day. <br> Service is auto renewed.</p>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</html>