
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/fb-alert/css/mdb.min.css">
  <link rel="stylesheet" href="/static/fb-alert/style.css">
  <title>SMS Alerte</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', '');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','');</script>
</head>

<body>
  <div class="mx-auto box-wrapper banner mb-3">
    <img src="/static/fb-alert/img/guess-score.jpg" alt="Fb Alert" class="img-fluid">
  </div>
  <div class="container-fluid box-wrapper text-center pb-3">
    <h3 class="mb-1 title">Mainkan Game Terbaik Sekarang!</h3>
    <p class="small mb-2 text-muted">Klik untuk Dapat Akses ke Cloudplay</p>
    <a href="#" id="subscribe" class="btn btn-transparent button shadow">
      <span class="button-light"></span>
      <span class="button-text">Mainkan Sekarang!</span>
    </a>

    <div class="container-fluid mt-4">
      <p class="info mb-1">SMS Alerte is a subscription service. You will be charged Rp 2,220/Subscription, /1 day on your mobile phone bill and will be renewed automatically.</p>
      <p class="info mb-0">To cancel, text STOP ALERTE send to 97770. By clicking the button, you have agreed to the terms and conditions</p>
      <img class="mt-3" src="/static/fb-alert/img/orange.png" alt="Orange" width="60" style="width: 60px; height: auto;">
    </div>

    <div id="form-otp" style="display: none;">
        <h5 class="mb-2 text-uppercase title">MASUKKAN PIN OTP ANDA</h5>
        <input 
            id="pin"
            type="number" 
            class="form-control form-control-lg shadow text-center rounded-pill border-2 mb-3" 
            placeholder="XXXX"
        />
        <div class="button-wrapper mx-auto">
            <button id="verify" class="btn btn-transparent button btn-lg w-100 rounded-pill">Verify</button>
            <div id="loading_2" class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/static/fb-alert/js/mdb.min.js"></script>
  <script>
    $(document).ready(function () {

      var ip = "";
      $.getJSON("https://api.ipify.org/?format=json", function (e) {
        ip = e.ip;
      });

      function gtag_report_conversion(url) {
        var callback = function() {
          if (typeof(url) != 'undefined') {
              window.location = url;
          }
        };
        gtag('event', 'conversion', {
            'send_to': '',
            'value': 1.0,
            'currency': 'IDR',
            'event_callback': callback
        });
        console.log("conversion")
        return false;
      }

      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
        }
        return "";
      };

      $('#subscribe').click(function (event) {
        event.preventDefault();

        $('#loading').show();
        
        $("#subscribe").attr("disabled", true);


        var keyword = "";
        var sub_keyword = "";
        var adnet = "";
        var pubid = "";
        var aff_sub = "";

        keyword = getUrlParameter("keyword");
        sub_keyword = getUrlParameter("subkey");
        adnet = getUrlParameter('ad');
        pubid = getUrlParameter('pubid');
        aff_sub = getUrlParameter('aff_sub');

        $.ajax({
          type: 'POST',
          url: '/cloudplay',
          data: JSON.stringify({
            service: "CLOUDPLAY",
            keyword: keyword,
            sub_keyword: sub_keyword,
            adnet: adnet,
            pubid: pubid,
            aff_sub: aff_sub,
          }),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function (json) {
            if (json.error == false) {
              window.location.href = json.redirect;
              gtag_report_conversion(json.redirect);
            }
            $('#loading').hide();
          },
          error: function () {
            
            $("#subscribe").removeAttr("disabled");
            $('#loading').hide();
          }
        });

      })
    })
  </script>
</body>

</html>